<div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-4 col-lg-8 col-lg-offset-3" style="">

  <div class="" style="padding: 10px;">
    <div class="input-group date" id='date' style="cursor: pointer;float: right">

      <input type="text" class="form-control" name="monthvalue" id='dtp' [(ngModel)]="model.monthvalue" #monthvalue="ngModel"  (ngModelChange)="model.monthvalue = $event.target.value"  ng-reflect-model="$event.target.value" (focus)="getBillingDetails($event.target.value)"
   (onblur)="getBillingDetails($event.target.value)"/>

      <span class="input-group-addon" style="display:none">
      <!-- <span class="fa fa-calendar"></span> -->
   </span>

      <!--
      <button (click)=getBillingDetails();    class="form-control btn-default" style="margin-left: 30px;color:#fff;background-color: #5cb85c;border-color: #4cae4c;user-select: none;background-image: none;border-radius: 4px;">
       Search
      </button>
       -->
    </div>
  </div>
  <div class="row" style="margin: auto; float: none;padding-top: 40px">
    <!-------------------Account Details---------------------------------------------------------->
    <div class="col-lg-8" style="margin: auto;padding: 0px">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title"><b>Account Details</b></h4>
        </div>
        <div class="table-responsive">
<table class="table">
  <tr>
    <td>Bill Date : <span *ngFor="let b of invoiceData">{{b.month}}-{{b.year}}</span></td>
    <td>Previous Amount : <span *ngFor="let b of invoiceData">${{b.previousAmount}}</span></td>
  </tr>
    <tr>
    <td>Account Number : 160317624</td>
    <td>Payment & Adjustment : <span *ngFor="let b of invoiceData">-${{b.adjustment}}</span></td>
  </tr>
    <tr>
    <td>Customer Name : Marcus Doe</td>
    <td>Past Due : <span *ngFor="let b of invoiceData">${{b.pastDue}}</span></td>
  </tr>
    <tr>
    <td>Billing Number : 804-325-5379</td>
    <td>Current Charge : <span *ngFor="let b of invoiceData">${{b.currentCharge}}</span></td>
  </tr>
    <tr>
    <td> Due Date : <span *ngFor="let b of invoiceData">{{b.dueDate}}</span></td>
    <td>Total Amount Due : <span *ngFor="let b of invoiceData">${{b.amount}}</span></td>
  </tr>

   <tr *ngFor="let b of invoiceData">
    <td *ngIf="b.paidAmount > 0"> Payment Received : <span *ngFor="let b of invoiceData">${{b.paidAmount}}</span></td>
    <td *ngIf="b.paidAmount > 0">Paid Date : <span *ngFor="let b of invoiceData">{{b.paidDate}}</span></td>
  </tr>
</table>
          <div class="widget-detail-1"   style="text-align: center;padding: 10px;" *ngFor="let b of invoiceData">
          <div *ngIf="b.paidAmount < 1"> 
            <button class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg"
                    routerLink="/payment" routerLinkActive="active1">
              Pay My Bill
            </button></div>
          </div>
        </div>
      </div>
    </div>

    <!----------------------------------------Bill Alerts---------------------------------------------------------------->
    <div class="col-lg-4" style="margin: auto;padding-right:0px">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title"><b>Bill Alerts</b></h4>
        </div>
        <div class="panel-body panelbody">
          <div class="list-group">
            <ol>
              <li><p class="list-group-item-text">As a loyal customer you are receiving 30% Discount on bill.</p></li>
              <li><p class="list-group-item-text">Your usage exceeds 300GB of fair uage policy.</p></li>
              <li><p class="list-group-item-text">Your latest bill for month of Jan is available.</p></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------------------------------------------Usage-------------------------------------------------------------------->
  <div class="" style="margin: auto; float: none;padding: 0px">
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title"><b>Usage Details</b></h4>
      </div>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#chartdatausage" data-toggle="tab">Data Usage</a></li>
        <li><a href="#chartdiv" data-toggle="tab">Billing </a></li>

      </ul>
      <div id="" class="tab-content">
        <div class="tab-pane fade" id="chartdiv"></div>
        <div class="tab-pane active in hidden-xs" id="chartdatausage"></div>
        <div class="tab-pane active in hidden-lg" id="chartdatausage2"></div>

      </div>
    </div>
  </div>

</div>
