
 #chartdiv {
  width: 100%;
  height: 500px;
}           
 #chartdatausage {
  width: 100%;
  height: 500px;
}                                 
.sidebar{
    padding-top: 10px;
    padding-left: 10px;
}

.list-group-item{
    border:0px !important;
}
 
.submit-button {
  margin-top: 10px;
}

.heading-bar {
    position:relative;
    font-size:18px;
    padding:11px 20px 11px 25px;
    margin:0 10px 10px 13px;
    color:#fff;
    background-color:#16b594
}
.heading-bar .title {
    color:#b0ead9
}
.heading-bar .title span {
    font-weight:normal;
    color:#fff
}
.heading-bar:after {
    content:' ';
    position:absolute;
    width:0;
    height:0;
    left:0;
    top:100%;
    border-width:6px 1px 0 6px;
    border-style:solid;
    border-color:#666 #666 transparent transparent;
}
.heading-bar:before {
    content:' ';
    position:absolute;
    width:0;
    height:0;
    right:0;
    top:100%;
    border-width:5px 7px 2px 0;
    border-style:solid;
    border-color:#666 transparent transparent #666
}
.heading-bar {
    margin-bottom:0
}


    .pagecontentbar{
        padding-top: 10px;

margin-left: 200px;
   }
   @media (max-width: 768px){
  .pagecontentbar{
    margin-left:0px !important;
  }
  #chartdiv {
  width: 100%;
  height: 250px;
}        
}
@media (min-width: 768px){
  .pagecontentbar{
    margin-left:200px !important;
  }
  #chartdiv {
  width: 100%;
  height: 250px;
}        
#chartdatausage {
      width   : 100%;
      height    : 250px;
      font-size : 11px;
    } 
  }