<div class="pagecontentbar">
  <h3>Create Trouble Ticket</h3>
  
  
  
<form [formGroup]="userForm" (submit)="saveUser()" style=" width: 95%;">
<div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" formControlName="name" id="name">
       <span class="error">   <control-messages [control]="userForm.controls.name" class="error"></control-messages>  </span>
 </div>
  
<div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" ngControl="email"  formControlName="email" id="email">
        <control-messages [control]="userForm.controls.email" class="error"></control-messages>
 </div>

<div class="form-group">
      <label for="phone">Phone No.</label>
      <input type="text" class="form-control" ngControl="phone" formControlName="phone" id="phone">
        <control-messages [control]="userForm.controls.phone" class="error"></control-messages>
 </div> 

 <div class="form-group">
      <label for="category">Category</label>
       <select class="form-control"  ngControl="category" formControlName="category" id="category">
        <option ngValue="">Select Category</option>
       <option ngValue="Billing_Payments">Billing and Payments</option>
        <option ngValue="Dish">Dish</option>
        <option ngValue="Internet">Internet</option>
        <option ngValue="Reset_Password">Reset Password</option>
        <option ngValue="Others">Others</option>
      </select>
        <control-messages [control]="userForm.controls.category" class="error"></control-messages>
 </div> 
 
 
 
 <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" ngControl="description" formControlName="description" id="description"></textarea>
       <span class="error"> <control-messages [control]="userForm.controls.description" class="error"></control-messages> </span>
 </div>

  <button class="btn btn-default" type="submit" [disabled]="!userForm.valid">Submit</button>
</form>
<!--
 <div class="margin-20" style="   width: 80%;">
      <div>myForm details:-</div>
      <pre>Is myForm valid?: <br>{{userForm.valid | json}}</pre>
      <pre>Is myForm submitted?: <br>{{submitted | json}}</pre>
      <pre>myForm value: <br>{{userForm.value | json}}</pre>
    </div>
-->
</div>