<div *ngIf="!top" class="container-fluid" style="padding: 0px !important">
  <side-bar></side-bar>
  <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-4"  style="padding: 20px !important">

  <div class="panel panel-default">
  <div class="panel-heading" style="border-radius: 0px;"><h4>View Tickets</h4></div>
  <div class="panel-body table-responsive">
        <div  style="text-align: right !important;">
                
                <select class="col-xs-2,form-control input-sm" [(ngModel)]="rowsOnPage" >
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                </select>
            </div>
                 <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                    <th style="width: 20%">
                        <mfDefaultSorter by="name">Name</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="desc">Description</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="resolved">Status</mfDefaultSorter>
                    </th>
                </tr>
                <tr>
                    <!-- <th colspan="5">
                        Filter by name:
                        <input class="form-control" [(ngModel)]="filterQuery"/>
                    </th> -->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data" >
                   
                    <td>{{item.name}}</td>
                    <td>{{item.desc}}</td>
                   <td>
                        <div *ngIf="item.resolved==true">CLOSED</div>
                            <div *ngIf="item.resolved!=true">OPEN</div>
                         </td>
                    
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator [rowsOnPageSet]=""></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
  </div>
</div>
</div>
</div>
<div *ngIf="top">
<side-bar-top></side-bar-top>
 <div class="col-xs-10 col-xs-offset-1"  style="padding: 0px !important">

  <div class="panel panel-default">
  <div class="panel-heading" style="border-radius: 0px;">View Tickets</div>
  <div class="panel-body table-responsive">
        <div  style="text-align: right !important;">
                
                <select class="col-xs-2,form-control input-sm" [(ngModel)]="rowsOnPage" >
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                </select>
            </div>
                 <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                    <th style="width: 20%">
                        <mfDefaultSorter by="name">Name</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="desc">Description</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="resolved">Status</mfDefaultSorter>
                    </th>
                </tr>
                <tr>
                    <!-- <th colspan="5">
                        Filter by name:
                        <input class="form-control" [(ngModel)]="filterQuery"/>
                    </th> -->
                </tr>
                </thead>
               <tbody>
                <tr *ngFor="let item of mf.data" >
                   
                    <td>{{item.name}}</td>
                    <td>{{item.desc}}</td>
                    <td>
                        <div *ngIf="item.resolved==true">CLOSED</div>
                         <div *ngIf="item.resolved!=true">OPEN</div>
                     </td>
                    
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator [rowsOnPageSet]=""></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
  </div>
</div>
</div>
</div>
