<div class="auth-main">
  <div class="auth-block">
    <h3>Create Trouble Ticket</h3>

    <form [formGroup]="userForm" (submit)="saveUser()" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!userForm.controls.name.valid && userForm.controls.name.touched)}">
        <label for="name" class="col-sm-2 control-label">Name</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Full Name">
           <control-messages [control]="userForm.controls.name" class="error"></control-messages> 
        </div>
      </div>


      <div class="form-group row" [ngClass]="{'has-error': (!userForm.controls.email.valid && userForm.controls.email.touched)}">
        <label for="email" class="col-sm-2 control-label">Email</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" ngControl="email"  formControlName="email" id="email">
          <control-messages [control]="userForm.controls.email" class="error"></control-messages>
        </div>
      </div>


       <div class="form-group row" [ngClass]="{'has-error': (!userForm.controls.phone.valid && userForm.controls.phone.touched)}">
        <label for="phone" class="col-sm-2 control-label">Phone No.</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" ngControl="phone"  formControlName="phone" id="phone">
          <control-messages [control]="userForm.controls.phone" class="error"></control-messages>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!userForm.controls.category.valid && userForm.controls.category.touched)}">
        <label for="category" class="col-sm-2 control-label">Category</label>

        <div class="col-sm-10">
         <select class="form-control"  ngControl="category" formControlName="category" id="category">
          <option ngValue="">Select Category</option>
          <option ngValue="Billing_Payments">Billing and Payments</option>
          <option ngValue="Dish">Dish</option>
          <option ngValue="Internet">Internet</option>
          <option ngValue="Reset_Password">Reset Password</option>
          <option ngValue="Others">Others</option>
        </select>
        <control-messages [control]="userForm.controls.category" class="error"></control-messages>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!userForm.controls.description.valid && userForm.controls.description.touched)}">
        <label for="description" class="col-sm-2 control-label">Description</label>

      <div class="col-sm-10">
       <textarea class="form-control" ngControl="description" formControlName="description" 
       id="description"></textarea>
      <span class="error"> <control-messages [control]="userForm.controls.description" class="error"></control-messages> </span>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="!userForm.valid" type="submit" class="btn btn-default btn-auth">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>