#register{
	margin-top: 20%;
	color: #ffffff;
	border: 1px solid white;
border-radius: 8%;
box-shadow: -2px -10px 72px -1px #65ffff;
position: fixed;

}
.panel{
	  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.help-block{
	color: red !important;
}
 #wrapper {
            min-height: 100%; 
            background: url(../images/login_bg1.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
        }